.foys-tabel {
    border-collapse: collapse;
    overflow-x: auto;
    display: block;
}

.foys-tabel th, 
.foys-tabel td {
    border: 1px solid #ccc;
    padding: 1em 2em 1em 2em;
    text-align: center;
    font-size: 0.9em;
}

.foys-tabel th {
    background: #f3f3f3;
    position: sticky;
    top: 0;
    z-index: 2;
}

.foys-tabel td.bezet {
    background-color: #0074c6;
	color: white;
	font-weight: bold;
}